.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.board {
  display: flex;
  gap: 12px;
  padding: 16px 24px 24px;
  overflow-x: auto;
  flex: 1;
  align-items: flex-start;

  &::-webkit-scrollbar {
    height: 6px;
  }
}
